body {
    background-color: black;
}

p {
    color: yellow;
    transform: rotateX(60deg);
}

@font-face {
    font-family: 'StarWars';
    src: url(font/Starjhol.ttf);
}

.intro{
    font-family: 'StarWars';
    font-size: x-large;
    text-align: center;
    font-weight: 700;
    margin: 0 10%;
}

@import { gsap } from "gsap";
    
@import { ScrollTrigger } from "gsap/ScrollTrigger";


gsap.registerPlugin(ScrollTrigger);

